.card {
    max-width: 345;
}


/*delivery person section*/

.delivery_person {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.column {
    display: grid;
    grid-row: auto;
    grid-gap: 10px;
    padding: 10px;
}

.signup_page {
    padding: 5% 20%;
    padding-bottom: 0 !important;
}


/*customer header*/

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pushDown {
    margin-top: 10px !important;
}


/*orders history*/

.previous-orders {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}


/*order card*/

.order {
    margin-right: 5px;
    width: 300px;
}