/*Chef header*/
.chefHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Chef header && Avatar*/
.chefHeader .chefAvatar {
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

/*Pizza creation content*/
.PizzaCreation {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 auto;
}

.push-down {
    margin-bottom: 20px !important;
}